[submodule "SH_QuailKit"]
	path = SH_QuailKit
	url = https://github.com/Hanif-Tiznobake/SH_QuailKit.git
[submodule "HT_Utilities"]
	path = HT_Utilities
	url = https://github.com/Hanif-Tiznobake/Utilities.m.git
[submodule "GM_QuailKit"]
	path = GM_QuailKit
	url = https://github.com/Hanif-Tiznobake/GM_QuailKit.git
[submodule "JR_QuailKit"]
	path = JR_QuailKit
	url = https://github.com/Hanif-Tiznobake/JR_QuailKit.git
