[submodule "SH_QuailKit"]
	path = SH_QuailKit
	url = https://github.com/Stephen0620/SH_QuailKit
[submodule "HT_Utilities"]
	path = HT_Utilities
	url = https://github.com/Hanif-Tiznobake/Utilities.m.git
[submodule "JR_QuailKit"]
	path = JR_QuailKit
	url = https://github.com/bozingle/JR_QuailKit
[submodule "HT_QuailKit"]
	path = HT_QuailKit
	url = https://github.com/Hanif-Tiznobake/HT_QuailKit.git
